<div class="container p-4 mt-4">
  <h1>You dreamed it, we did it !</h1>
  <p>After a long research effort. We created this website for cat lovers. We sincerely hope you like it and spend a lot of money.</p>
  <p>Thank you</p>
</div>
