<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Thank you for your Order !</h1>
   
    <h4>
     Here is the detail of your order :
    </h4>
    <%= link_to "this link", @order.items[0].cat_picture.service_url %>
   

    <%# <% @order.items.each do |item|%> 
      
      <%# <%= image_tag item.cat_picture %> 
      
    <%# <% end %> 
    <p>
      You can acces all your orders by following  <%= link_to "this link", user_url(@order.user) %>.
    </p>
    <p> See you soon on PixCat.fr !
  </body>
</html>