<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Merci d'avoir passé commande chez nous !</h1>
    <p>
      Tu t'es inscrit sur monsite.fr en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <h4>
     Voici les details de ta commande :
    </h4>
    <% @order.items.each do |item|%>

      <%= image_tag item.cat_picture %>
    
    <% end %>
    <p>
      Pour accéder à ton espace client, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur PixCat.fr !
  </body>
</html>