<div class="container row justify-content-center mx-auto" id="success-pay">
  <div class="row cart-box p-5 my-4">
    <div class="col">
      <h1 class="text-center text-danger">Payment error <i class="fas fa-times"></i></h1>
      <hr>
      <br>
      <p>Your payment has encountered a problem</p>
      <br>
      <div class="text-center">
        <%= link_to "Back to store", root_path, class: "btn btn-info btn-sm" %>
      </div>
    </div>
  </div>
</div>
