<ul>
	<% @cart.items.each do |item| %>
		<li>
			<%= item.title %>
			<%= button_to "Delete", cart_remove_from_path(current_user.cart, item) , method: "put" %>
		</li>
	<% end %>
	<p>Total: <%= @cart.total %>$</p>
	<%= button_to "Checkout", cart_create_path(cart_id: @cart.id), class:"btn btn-primary m-2", remote: true %>
	
</ul>