<div id="carouselExampleIndicators" class="container carousel slide px-0" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <!-- Slide One - Set the background image for this slide in the line below -->
    <div class="carousel-item active" style="background-image: url('https://loremflickr.com/cache/resized/65535_50807295192_94abda7b2c_h_1280_720_nofilter.jpg')">
      <div class="carousel-caption d-none d-md-block">
        <h2 class="display-4 text-left text-white">Purrfection...</h2>
        <p class="lead text-left text-warning">Find your perfect cat picture</p>
      </div>
    </div>
    <!-- Slide Two - Set the background image for this slide in the line below -->
    <div class="carousel-item" style="background-image: url('https://loremflickr.com/cache/resized/65535_50338047032_94074435b7_h_1280_720_nofilter.jpg')">
      <div class="carousel-caption d-none d-md-block" style="top:0;">
        <h2 class="display-4 text-left text-white">Look at this one !</h2>
        <p class="lead text-left text-warning">When he looks at you like that...</p>
      </div>
    </div>
    <!-- Slide Three - Set the background image for this slide in the line below -->
    <div class="carousel-item" style="background-image: url('https://loremflickr.com/cache/resized/65535_50433897778_22a0722462_h_1280_720_nofilter.jpg')">
      <div class="carousel-caption d-none d-md-block" style="top:0;">
        <h2 class="display-4 text-left text-white">Who can resist ?</h2>
        <p class="lead text-left text-warning">Seriously, who?</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
</div>

