
<div class="container" id="homepage">
  <div class="row">
    <% @items.each do |item| %>
      <div class="col" id="space">
        <div class="card" id="hovering">
          <div class="card-header">
            <h5 class="card-title"> <%= item.title %> </h5>
          </div>
          <img class="card-img-top" src="<%= item.image_url %>" alt="Card image not found">
          <div class="card-body">
            <td class="text-right">
              <%= button_to "Add to cart its only: #{item.price}$", item_path(item.id), class: "btn btn-outline-primary btn-sm", :method => "get" %>
              <br>
              <%= button_to "Show me this cat !", item_path(item.id), class: "btn btn-outline-info btn-sm", :method => "get" %>
            </td>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
