#trash {
  color: rgb(180, 6, 6);
}

#cart-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

#cat_picture {
  width: 100%;
}

#price {
  padding-top: 10px;
}

#button-trash {
  margin: 0px;
}
