#trash {
  color: rgb(180, 6, 6);
}

#cart-container {

}
.cart-box{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.125);
  border-radius: 0.4rem;
}

.cat_picture {
  width: 100%;
}

#price {
  padding-top: 10px;
}

#button-trash {
  margin: 0px;
}
