@media (max-width: 768px) {
  .grid-nav{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;}
  .navbar-brand{
    grid-column: 2/span 2;
    text-align: center;
    margin: 0;}
  .cart{
    grid-column: 2;
    text-align: center;}
  .btn-cart{
    display: flex;
    justify-content: center;}
  .i-cart{
    margin-right: 5px;
    padding-top: 3px;
  }
  .signin{
    grid-row: 1;
    grid-column: 4;
  }
}

.text-shadow:hover{
  text-shadow: 1px 1px 2px #f3969a, 0 0 1em #20c997, 0 0 0.2em #20c997;
}