@media (max-width: 768px) {
  .grid-nav{
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;}
  .navbar-brand{
    grid-column: 2/span 2;
    text-align: center;
    margin: 0;}
  .cart{
    grid-column: 2;
    text-align: center;}
  .btn-cart{
    display: flex;}
  .i-cart{
    margin-right: 6px;
    padding-top: 2px;
  }
  .signin{
    grid-row: 2;
    grid-column: 2/span 2;
  }
}