#password .container #password-row #password-column #password-box {
  margin-top: 120px;
  margin-bottom: 120px;
  max-width: 600px;
  height: 330px;
  border: 1px solid #d2d2d2;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
#password .container #password-row #password-column #password-box #password-form {
  padding: 20px;
}
#password .container #password-row #password-column #password-box #password-form #register-link {
  margin-top: -85px;
}
