.card-img-show{max-width: 469px;}

.grid-show-container{
  max-width: 938px;
  display: grid;
  grid-template-columns: 469px 1fr;
  grid-template-rows: auto auto;
  grid-gap: 2em;
}

.grid-show-container .btn-outline-secondary{grid-row: span 2;}

@media (max-width: 500px) {
.flex-show-responsive{
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  box-shadow: none;}
}
@media (min-width: 500px) {
.flex-show-responsive{
  inline-size: fit-content;}
}
@media (min-width: 769px) {
.flex-show-responsive{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;}
}