<span class="flex-grow-1"></span>
<footer class="grid-container text-white bg-secondary grid-footer p-4">
  <ul>
    <li>
      <p class="navbar-brand text-white flex-grow-1 rocknroll" href="/">© PixCat <i class="fas fa-cat"></i></p>
    </li>
  </ul>
  <ul>
    <li class="font-weight-bold">
      Support
    </li>
    <li>
      Contact us
    </li>
    <li>
      Privacy policy
    </li>
  </ul>
  <ul>
    <li class="font-weight-bold">
      About
    </li>
    <li>
      Our nyan concept
    </li>
    <li>
      Our nyan team
    </li>
  </ul>
</footer>