<div class="bg-primary">
  <div class="container bg-primary py-0 d-flex">

    <a class="navbar-brand text-white flex-grow-1" href="/">PixCat <i class="fas fa-cat"></i></a>

    <div class="d-flex justify-content-end">
      <% if user_signed_in? %>

        <%= link_to cart_path(current_user.cart), class:"text-white" do %>
          <div class="btn">
            <i class="fas fa-shopping-cart"></i>
            <span>Cart</span>
          </div>
        <% end %>

        <%= button_to destroy_user_session_path, class:"text-white btn", method: :delete do %>
          <i class="fas fa-sign-out-alt"></i>
          <span>Sign Out</span>
        <% end %>

      <% else %>
        <%= link_to new_user_session_path, class:"text-white" do %>
          <i class="far fa-user"></i>
          <span>Sign in</span>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

