<div class="bg-primary">
  <div class="container bg-primary py-0 d-flex grid-nav">

    <a class="navbar-brand text-white flex-grow-1" href="/">PixCat <i class="fas fa-cat"></i></a>

      <% if user_signed_in? %>

        <%= link_to cart_path(current_user.cart), class:"text-white cart" do %>
          <div class="btn btn-cart">
            <i class="fas fa-shopping-cart i-cart"></i>
            <span>Cart</span>
          </div>
        <% end %>
          <span class="dropdown" style="font-family: 'Montserrat';">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="far fa-user"></i>
              Profile
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="<%= user_path(current_user) %>">Account setting</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="<%= destroy_user_session_path %>">Sign Out</a></li>
            </ul>
          </span>

      <% else %>
        <%= link_to new_user_session_path, class:"text-white btn" do %>
          <i class="far fa-user"></i>
          <span>Sign in</span>
        <% end %>
      <% end %>
    </div>

</div>